{% extends 'base.html.twig' %}

{% block title %}My orders{% endblock %}

{% block body %}
    <div class="row">
        <div class="justify-content-center align-items-center">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <h1 class="mb-4 text-nowrap">My orders</h1>
            </div>
            <div class="row">
                {% if orders|length > 0 %}
                    <table class="table table-hover text-nowrap table-borderless mt-1">
                        <thead>
                        <tr>
                            <th class="align-middle">Date of order</th>
                            <th class="align-middle text-center">Order number</th>
                            <th class="align-middle text-right pr-4">Total price</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in orders %}
                            {# @var order \App\Entity\Order #}
                            <tr>
                                <td>
                                    {{ order.createdAt|date('Y-m-d H:i:s') }}
                                </td>
                                {#                                TODO resolve getting the currency correctly #}
                                <td class="align-middle text-center">
                                    {#                                    <a href="{{ path('book_resource', {'id': cartItem.book.id}) }}"> #}
                                    {{ order.orderNumber }}
                                    {#                                    </a> #}
                                </td>
                                <td class="align-middle text-right">
                                    {{ money_manager.formattedPrice(order_manager.totalPriceForOrder(order)) ~ ' ' ~ order.orderItems.first.book.currency.code }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="text-center">You haven't placed any orders yet.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}